<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.najdi.android.najdiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".common.NajdiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:debuggable="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".launch.view.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launch.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".launch.view.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".launch.view.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".home.view.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:parentActivityName=".common.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.najdi.android.najdiapp.common.BaseActivity" />
        </activity>
        <activity android:name=".checkout.view.CheckoutActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".launch.view.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name=".checkout.FetchAddressIntentService"
            android:exported="false"/>
    </application>

</manifest>